
.card:hover{
    transform: scale(1.1);
    transition: transform .2s; /* Animation */
}

/* input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 12pt;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */


/*
h2 {
    font-size: 18pt;
    margin-bottom: 10px;
}

label {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 15px;
}
 


.calendar-box {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 260px;
}

.purchase-btn {
    background-color: #727787;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    font-size: 14pt;
    cursor: pointer;
}

.btn-container {
    text-align: center;
    margin-top: 40px;
} */
