body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Navigation bar styling */
nav {
    background: #1f1f1f;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 30px;
}
table {
width: 100%;               /* Full width layout */
max-width: 600px;          /* Prevent it from being too wide */
border-collapse: separate;
border-spacing: 12px 16px; /* Row/column spacing */
font-family: Arial, sans-serif;
}

body {
    font-family: Calibri, sans-serif;
}

.booking-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 900px;
    margin: 40px auto;
}
/* input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 12pt;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */


/*
h2 {
    font-size: 18pt;
    margin-bottom: 10px;
}

label {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 15px;
}
 


.calendar-box {
    border: 2px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 260px;
}

.purchase-btn {
    background-color: #727787;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    font-size: 14pt;
    cursor: pointer;
}

.btn-container {
    text-align: center;
    margin-top: 40px;
} */