{% extends "base.html" %}
{% block content %}
<div class="mb-5 mt-4 p-5 bg-primary text-white text-center rounded">
    <h1>Room booking</h1>
</div>


<div class="container d-flex justify-content-center">
    <div class="col-md-7 col-md-push-5">
        <div class="booking-cta">
            <h1>Make your reservation</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
                ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
                Perspiciatis.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-md-pull-7 ">
        <div class="booking-form ">
            <form method="POST">
                <div class="form-group disabled">
                    <span class="form-label">Your Expectation</span>
                    <input class="form-control" type="text" placeholder="Enter a destination or hotel name" disabled>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="form-label">Check In</span>
                            <input name="check_in" class="form-control" type="date" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="form-label">Check out</span>
                            <input name="check_out" class="form-control" type="date" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="form-label">Rooms</span>
                            <select class="form-select form-select-lg mb-3 fs-6" name="room_type"required>
                                <option selected value="Single">Single</option>
                                <option value="Double">Double</option>
                                <option value="Superior">Superior</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <span class="form-label">Guests</span>
                            <input name="guests" type="number" class="form-control" placeholder="0" required>
                        </div>
                    </div>
                </div>
                <div class="form-btn">
                    <button class="submit-btn">Check availability</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}